.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.register-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
}

.register-container>form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 1px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.register-textbox {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.register-btn button {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
    /* text-decoration: none; */
    cursor: pointer;
}

.register div {
    margin-top: 7px;
}